*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    position: relative;
    background-color: #232323;
    color: #fff;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
    div{
        
        text-align: center;
        flex: 0 0 50%;
    }
    .temp{
        text-align: center;
        h1{
            position: relative;
            font-size: 4.5em;
        }
        .deg{
            display: inline-block;
            font-size: 0.5em;
            transform: translate(7px,-25px);
        }
        h2{
            margin-top: 10px;
            span{
                font-weight: 400;
            }
        }
    }
    .city{
        line-height: 3em;
        p{
            font-size: 16px;
        }
        h1{
            font-size: 35px;
        }
    }
}
@media (max-width: 769px){
    .container{
        justify-content: center;
        align-items: center;
    }
        .container div{
            flex: 0 0 80%;
        }
}
.name{
    height: 10vh;
    h3{
        font-weight: 400;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
}